<html ng-app="quizAppMaster">

<link rel="stylesheet" type="text/css" href="assets/style.css">

<script defer src="assets/common.js"></script>
<script defer src="assets/master.js"></script>


<!--
<script src="jslibs/rxjs/dist/rx.min.js"></script>
<script src="jslibs/rxjs/dist/rx.async.min.js"></script>
<script src="jslibs/rxjs/dist/rx.binding.min.js"></script>
<script src="jslibs/angularjs/angular.js"></script>
<script src="jslibs/rx-dom/dist/rx.dom.js"></script>
<script src="jslibs/js-xlsx/dist/xlsx.min.js"></script>
<script src="jslibs/angular-websocket/angular-websocket.min.js"></script>
<script src="jslibs/angular-rx/dist/rx.angular.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script> 
<script src="https://rawgit.com/gdi2290/angular-websocket/v1.0.9/angular-websocket.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/rxjs/4.0.7/rx.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/rxjs-dom/7.0.3/rx.dom.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/rx-angular/1.0.4/rx.angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/rxjs/4.0.7/rx.async.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/rxjs/4.0.7/rx.binding.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xls/0.7.5/xls.js"></script>

<script src="assets/quizAppMaster.js"></script> -->


<body>
	<div class='container' ng-controller="Ctrl">
		<div class="translation"></div>
		<div id="dragTarget" ng-hide="hideDrop">
			<p>{{ 'DROP_DROP_HERE' | translate }}</p>
		</div>
		<div class="connection" ng-hide="connectionInfo.hide">
			<button ng-click="connectionInfo.connect()">{{ 'CONNECT_BTN_NAME' | translate }}</button>
				{{ 'CONNECT_QUIZ_ID' | translate }}: <input ng-model="connectionInfo.quizId" type="number"/>
		</div>
		
		<div class="generate" ng-hide="generate.hide">
				<p>{{ 'GENERATE_QUANTITY' | translate }}</p><input type='number' ng-model=generate.quantity required>
				<br/>
				<div ng-repeat="group in generate.groups track by $index">
					<input type='number' ng-model='group.key' required></input>
					<input type='number' ng-model='group.val' required></input>
					<button ng-click=generate.remove(group.key)>{{ 'GENERATE_REMOVE' | translate }}</button>
				</div>
				<button ng-click=generate.add()>{{ 'GENERATE_ADD' | translate }}</button>
				<button ng-click="generate.generate()"> {{ 'GENERATE_GENERATE' | translate}} </button>
			<table class="generate-table">
				<tr>
				</tr>
			</table>
		</div>
		
		<div class="main-table" ng-show="newQuiz.quizes">
			<button ng-hide = "sendNewQuiz.hide" ng-click="sendNewQuiz.sendNewQuizToServer()" ng-cloak>{{ 'SEND_NEW_QUIZ' | translate }}</button>
			<button ng-click = "download()"> {{ 'DOWNLOAD_RESULT' | translate }} </button>
			<div ng-cloak>
			<table>
				<tbody ng-repeat="q in newQuiz.quizes">
				<tr><th colspan = '{{q.maxAnswersLength + 3}}'>{{q.id}}</th></tr>
				<tr>
					<th> {{ 'COLUMN_ID' | translate }} </th>
					<th> {{ 'COLUMN_QUESTON' | translate }} </th>
					<th ng-attr-colspan = "{{ q.maxAnswersLength }}"> {{ 'COLUMN_ANSWERS' | translate }} </th>
					<th>{{ 'COLUMN_CORRECT_ANSWERS' | translate}}</th>
				</tr>
				<tr ng-repeat="x in q.assigments">
					<td> {{ x.queston.id }} </td>
					<td> {{ x.queston.content }} </td>
					<td ng-attr-colspan = "{{ $last ? q.maxAnswersLength - x.answers.length + 1 : 1 }}" ng-repeat="answer in x.answers" ng-class="{chosenWrong: answer.isChecked, chosenRight: answer.isChecked && answer.isRight(x.solution)}"> {{ answer.content }} </td>
					<td> {{ x.solution }} </td>
				</tr>
				</tbody>
				<br/>
			</table>
			</div>
		</div>
	</div>
</body>
</html>
