<html ng-app="quizAppUser">
<link rel="stylesheet" type="text/css" href="assets/style.css">

<script defer src="assets/common.js"></script>
<script defer src="assets/user.js"></script>

<!--
<script src="jslibs/angular-rx/dist/rx.angular.min.js"></script>
<script src="jslibs/rxjs/dist/rx.min.js"></script>
<script src="jslibs/rx-dom/dist/rx.dom.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script> 
<script src="https://rawgit.com/gdi2290/angular-websocket/v1.0.9/angular-websocket.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/rxjs/4.0.7/rx.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/rxjs-dom/7.0.3/rx.dom.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/rx-angular/1.0.4/rx.angular.min.js"></script>

<script src="assets/quizAppUser.js"></script>
<body>

=======
-->

<body>
	<div class="someclass2" ng-controller="Ctrl">
		<div class="translation"></div>
		<div class="someclass" ng-Hide="connectionInfo.hide">
			<button ng-click="connectionInfo.connect()">{{'CONNECT_BUTTON' | translate}}</button>
				{{'CONNECT_QUIZ_ID' | translate}}: <input ng-model="connectionInfo.quizId" type="number"/>
				{{'CONNECT_USER_ID' | translate}}: <input ng-model="connectionInfo.userId" type="number"/>
		</div>
		<br/>
		<div>
			<p> {{('ASSIGMENT_NAME' | translate) + ': ' + quiz.id}} </p>
			<table ng-show="quiz.assigments" ng-cloak>
				<tr>
<!--					<th> {{ 'COLUMN_ID' | translate }} </th> -->
					<th> {{ 'COLUMN_QUESTON' | translate }} </th>
					<th colspan = '100'> {{ 'COLUMN_ANSWERS' | translate }} </th>
				</tr>
				<tr ng-repeat="x in quiz.assigments">
					<td> {{ x.queston.content }} </td>
					<td ng-repeat="answer in x.answers"> {{ answer.content }} <input type="checkbox" ng-model="answer.isChecked" ng-change="sendSingleAnswer(x.queston.id,answer.id)"> 
					</td>
				</tr>
			</table>
		</div>
	</div>

</body>
</html>
