<html ng-app="quizAppUser">
<link rel="stylesheet" type="text/css" href="assets/style.css">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script> 
<script src="https://rawgit.com/gdi2290/angular-websocket/v1.0.9/angular-websocket.js"></script>
<script src="assets/rx.js"></script>
<script src="assets/rx.dom.js"></script>
<script src="assets/rx.angular.min.js"></script>
<script src="assets/quizAppUser.js"></script>
<body>

	<div class="someclass" ng-controller="ButtonController">
	<button ng-click="clickMe()">Somebutton</button>
	Id: <input ng-model="id" type="text"/>
	</div>
	<br/>

	<div class="someclass2" ng-controller="Ctrl">
		<table ng-repeat="x in quiz.assigments">
			assigment {{ quiz.id }}
			<tr>
				<td> {{ x.queston.content }} </td>
				<td ng-repeat="answer in x.answers"> {{ answer.content }} <input type="checkbox" ng-model="answer.isChecked" ng-change="sendSingleAnswer(x.queston.id,answer.id)"> </td>
				
			</tr>
		
		</table>
	</div>

</body>
</html>
